# https://editorconfig.org/
# This configuration is used by ktlint when spotless invokes it

[*.{kt,kts}]
ktlint_function_naming_ignore_when_annotated_with=Composable
ktlint_standard_no-wildcard-imports=disabled
ktlint_standard_value-parameter-comment=disabled